* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #0b1120;
    color: #F8FAFC;
    overflow-x: hidden;
}


.app {

    width: 100%;
    min-height: 100vh;
    padding: 35px;
    overflow-y: auto;
    background: #0A0F1C;

}

.app.dark {
    background: #0A0F1C;
    color: white;
}

.app.light {
    background: #F5F7FA;
    color: #111827;
}

.app.light h2 {
    color: black;
}

.app.light .applicantCard {
    background-color: white;
}

.app.light .applicantCard h3 {
    color: black;
}

.app.light .applicantCard p {
    color: black;
}

.box:hover {

    background: rgba(10, 102, 194, .15);

    color: white;

    border-left: 4px solid #0A66C2;
}


.text {

    white-space: nowrap;

    opacity: 0;

    transition: .25s;

    font-size: 16px;

    font-weight: 500;
}

.sidebar:hover .text {

    opacity: 1;
}

.content {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 40px 60px;
}

.title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    font-size: 34px;
}

.topBar {

    border-bottom: 1px solid rgba(255, 255, 255, .06);

    padding-bottom: 25px;
}

.write {

    display: flex;

    flex-direction: column;

    gap: 6px;
}

.write h1 {

    font-size: 38px;

    font-weight: 700;

    color: white;

    letter-spacing: .5px;
}

.write p {

    color: #94A3B8;

    font-size: 17px;
}

.topRight {

    display: flex;

    gap: 18px;
}

.notification,
.profile,
.logout,
.bg {

    width: 52px;

    height: 52px;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 14px;

    background: #162033;

    border: 1px solid rgba(255, 255, 255, .05);

    cursor: pointer;

    transition: .3s;


    font-size: 22px;
}

.notification:hover,
.profile:hover,
.logout:hover,
.bg:hover {

    background: #0A66C2;

    transform: translateY(-3px);

    box-shadow: 0 10px 25px rgba(10, 102, 194, .35);
}


.welcome{
    margin:25px 0 30px;
}

.welcome h2{
    font-size:34px;
    margin-bottom:8px;
}

.welcome p{
    color:#94A3B8;
}

.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:18px;
    margin-bottom:32px;
}

html {

    scroll-behavior: smooth;
}

.statCard {

    background: linear-gradient(180deg, #172135, #111827);

    border: 1px solid rgba(255, 255, 255, .06);

    border-radius: 18px;

    padding: 24px;

    min-height: 125px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    transition: .35s;

    position: relative;

    overflow: hidden;
}

.topBar h1 {

    cursor: pointer;

    transition: .3s;
}

.topBar h1:hover {

    color: #60A5FA;
}

.actions button {

    min-width: 170px;
}

.statCard::before {

    content: "";

    position: absolute;

    width: 180px;
    height: 180px;

    background: #0A66C2;

    border-radius: 50%;

    filter: blur(90px);

    opacity: .12;

    top: -70px;

    right: -70px;
}

.statCard:hover {

    transform: translateY(-8px);

    border-color: #0A66C2;

    box-shadow:
        0 18px 35px rgba(10, 102, 194, .25);
}

.statCard h3 {

    font-size: 52px;

    color: #60A5FA;

    margin-bottom: 12px;

    font-weight: 700;
}

.statCard p {

    color: #CBD5E1;

    font-size: 17px;

    letter-spacing: .4px;
}

.section{
    margin:15px 0;
}

.sectionTitle{
    margin:25px 0 15px;
    font-size:28px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 28px;
}

.actions button {
    background: #0A66C2;
    color: white;
    border: none;
    padding: 15px 28px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
}

.actions button:hover {
    background: #004182;
    transform: translateY(-3px);
}

.actions button:active {
    transform: scale(0.97);
}

.actions button:focus {
    outline: none;
}
.jobCard{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#111827;
    border:1px solid rgba(255,255,255,.06);
    border-radius:18px;

    padding:24px 30px;
    margin-bottom:18px;

    position:relative;
    overflow:hidden;
}
.jobCard > div:first-child{
    display:flex;
    flex-direction:column;
    gap:6px;
}
.jobCard::before {

    content: "";

    position: absolute;

    width: 220px;
    height: 220px;

    background: #0A66C2;

    border-radius: 50%;

    filter: blur(120px);

    opacity: .08;

    right: -90px;

    top: -100px;
}

.jobCard:hover {

    transform: translateY(-6px);

    border-color: #0A66C2;

    box-shadow:
        0 18px 35px rgba(10, 102, 194, .18);
}

.jobCard h3 {

    color: white;

    font-size: 24px;

    margin-bottom: 10px;
}

.jobCard p {

    color: #94A3B8;

    font-size: 15px;
}

.links{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:12px;
    width:100%;
}

.links button {

    color: #60A5FA;

    cursor: pointer;

    font-weight: 500;

    transition: .25s;
}


.applicantCard {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #111827;
    border: 1px solid rgba(255, 255, 255, .06);
    border-radius: 18px;

    padding: 20px 26px;
    margin-bottom: 16px;

    position: relative;
    overflow: hidden;

    transition:
        transform .35s ease,
        box-shadow .35s ease,
        border-color .35s ease;
}

.applicantCard::before {

    content: "";

    position: absolute;

    width: 180px;

    height: 180px;

    background: #0A66C2;

    border-radius: 50%;

    filter: blur(100px);

    opacity: .08;

    left: -70px;

    bottom: -80px;
}

.applicantCard:hover {
    transform: translateY(-6px);

    border-color: #0A66C2;

    box-shadow: 0 18px 35px rgba(10, 102, 194, .18);
}

.status {
    transition:
        transform .3s,
        box-shadow .3s;
}

.applicantCard:hover .status {
    transform: scale(1.05);
}

.applicantCard h3 {

    font-size: 22px;

    color: white;

    margin-bottom: 8px;
}

.applicantCard p {

    color: #94A3B8;

    font-size: 15px;
}
.jobCard > div:last-child{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:center;
    min-width:180px;
    gap:12px;
    z-index:5;
}

.status {

    display: inline-flex;

    justify-content: center;

    align-items: center;

    padding: 8px 18px;

    border-radius: 30px;

    background: #F59E0B;

    color: #111827;

    font-size: 14px;

    font-weight: 600;

    margin-right: 0;
    min-width:105px;
}

.links button{
    background:#1E293B;
    color:#60A5FA;
    border:none;
    border-radius:8px;
    padding:8px 16px;
    cursor:pointer;
    transition:.3s;
}

.links button:hover{
    background:#0A66C2;
    color:white;
}
.review {

    background: #3B82F6;

    color: white;
}

.selected {

    background: #22C55E;

    color: white;
}

.rejected {

    background: #EF4444;

    color: white;
}
.resumeBtn{
    padding:9px 16px;
    min-width:100px;
    text-align:center;
}
.resumeBtn {
    transition:
        background .3s,
        transform .3s,
        box-shadow .3s;
}

.resumeBtn:hover {
    transform: translateY(-2px);
}

@media(max-width:1100px) {

    .stats {

        grid-template-columns: repeat(2, 1fr);
    }

    .jobCard,
    .applicantCard {

        flex-direction: column;

        align-items: flex-start;

        gap: 20px;
    }

    .topBar {

        flex-direction: column;

        align-items: flex-start;

        gap: 25px;
    }

    .actions {

        flex-wrap: wrap;
    }

}


@media(max-width:700px) {

    .sidebar {

        width: 75px;
    }

    .sidebar:hover {

        width: 210px;
    }

    .content {

        padding: 25px;
    }

    .write h1 {

        font-size: 30px;
    }

    .welcome h2 {

        font-size: 28px;
    }

    .stats {

        grid-template-columns: 1fr;
    }

    .actions {

        flex-direction: column;
    }

    .actions button {

        width: 100%;
    }

    .jobCard,
    .applicantCard {

        padding: 22px;
    }

}


::-webkit-scrollbar {

    width: 8px;
}

::-webkit-scrollbar-track {

    background: #0F172A;
}

::-webkit-scrollbar-thumb {

    background: #334155;

    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {

    background: #0A66C2;
}


button,
.box,
.statCard,
.jobCard,
.applicantCard,
.notification,
.profile {

    transition: .3s ease;
}


::selection {

    background: #0A66C2;

    color: white;
}


.statCard,
.jobCard,
.applicantCard {

    backdrop-filter: blur(12px);
}

.content {

    animation: fadeIn .6s ease;
}

@keyframes fadeIn {

    from {

        opacity: 0;

        transform: translateY(15px);
    }

    to {

        opacity: 1;

        transform: translateY(0);
    }

}

